* {
     font-family: "Oswald", sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

.container-left {
    display: inline-block;
    width: 60%;
    margin-top: 20%;
}

.container-right {
    display: inline-block;
    background-color: rgba(93,93,125,0.16);
    height: 100vh;
    position: absolute;
    width: 40%;

}

img {
    position: relative;
    top: 216px;
    right: 122px;
}

h1 {
    font-weight: 400;
    font-size: 70px;
    color: #5D5D7D;
    width: 368px;
}

p {
    font-weight: 400;
    font-size: 28px;
    width: 540px;
    color: #5D5D7D;
    opacity: 60%;
}

button {
    font-weight: 400;
    font-size: 24px;
    background: #9499EA;
    color: #ffffff;
    border: none;
    width: 269px;
    height: 62px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

a:nth-child(2) {
    opacity: .4;
}

a {
    font-size: 28px;
    margin-right: 41px;
    color: #5D5D7D;
    cursor: pointer;
}

header {
    margin: 24px 0 0 54px;
}

a:hover {
    opacity: .4;
}

@media screen and (max-width: 900px) {
    .container-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;
    }

    img {
        position: static;
        max-width: 90%;
    }

    header {
        display: none;
    }

    h1{ 
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }

    button {
        margin: 0 auto;
        display: block;
    }

}